:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  min-height: 100dvh;
  margin: 0 auto;
  box-sizing: border-box;

  background-color: var(--bg);
  border: 1px solid var(--rule);
  box-shadow: 2px 2px 3px var(--rule);
}

main {
  flex: 1;
}
